In [24]:
import pandas as pd

# path relative to notebook
df = pd.read_csv("data/retail_dataset.csv")

print("Data loaded successfully!")
print(df.shape)
df.head()

Data loaded successfully!
(541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [25]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [26]:
# Check missing CustomerIDs
print("Missing CustomerIDs:", df['CustomerID'].isnull().sum())

# Drop missing CustomerIDs
df = df.dropna(subset=['CustomerID'])

# Convert CustomerID to string (so grouping works cleanly later)
df['CustomerID'] = df['CustomerID'].astype(str)

print("Null CustomerIDs removed.")
print("New shape:", df.shape)

Missing CustomerIDs: 135080
Null CustomerIDs removed.
New shape: (406829, 8)

In [27]:
# Drop negative quantities
df = df[df['Quantity'] > 0]

# Drop invoices that start with 'C' (cancelled)
df = df[~df['InvoiceNo'].astype(str).str.startswith('C')]

print("Removed cancelled or negative transactions.")
print("New shape:", df.shape)

Removed cancelled or negative transactions.
New shape: (397924, 8)

In [28]:
df = df[df['UnitPrice'] > 0]
print("Removed rows with non-positive prices.")
print("New shape:", df.shape)

Removed rows with non-positive prices.
New shape: (397884, 8)

In [30]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')

print("Converted InvoiceDate to datetime.")
print(df['InvoiceDate'].dtypes)

Converted InvoiceDate to datetime.
datetime64[ns]

In [31]:
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
print("Added TotalPrice column.")
df.head(3)

Added TotalPrice column.

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00